<!--Content and View Section-->
<section class="row" ng-controller="bcCtrl">
    <img class="four columns floating" src="./images/BCA.png" alt=""/>
    <article class="eight columns">
        <h4>Breast Cancer Awareness Month</h4>
        <p>
            October is Breast Cancer Awareness Month, which is an annual campaign to increase awareness of the disease. While most people are aware of breast cancer, many forget to take the steps to have a plan to detect the disease in its early stages and
            encourage others to do the same. We have made a lot of progress but still have a long way to go and need your help!
        </p>
    </article>
</section>
<br>
<!--Continued Content Area-->
<ui-view></ui-view>
<main>
    <section class="row section">
        <article class="six columns">
            <img src="./images/BCS.png" alt=""/>
            <h5>Survivor Stories</h5>
            <button ui-sref="stories" type="button" name="stories">STORIES</button>
            <p>See stories of people who have won the battle!</p>
        </article>

        <article class="six columns">
            <img class="image fix" src="./images/BCI.png" alt=""/>
            <h5>Are you at risk?</h5>
            <button ui-sref="info" type="button" name="info">INFO</button>
            <p>Find out everything you need to know about breast cancer.</p>
        </article>
    </section>
</main>
