<main>
  <section class="row">
      <article class="three columns">
        <h5><a href="http://www.cancer.org/cancer/breastcancer/">Cancer.org</a></h5>
        <p>A great resource for all things cancer related.</p>
      </article>
      <article class="three columns">
        <h5><a href="http://www.breastcancer.org/">Breastcancer.org</a></h5>
        <p>A great resource for all things cancer related.</p>
      </article>
      <article class="three columns">
        <h5><a href="http://www.webmd.com/breast-cancer/">WebMD</a></h5>
        <p>A great resource for all things cancer related.</p>
      </article>
      <article class="three columns">
        <h5><a href="http://www.cancer.org/cancer/breastcancer/">Cancer.org</a></h5>
        <p>A great resource for all things cancer related.</p>
      </article>
  </section>
  <section class="row">
    <article class="twelve columns">
      <img class="bcimg" src="images/BC-INFO.png" alt="" />
    </article>
  </section>
  <section class="row">
    <article class="twelve columns">
      <iframe class="offset-by-two columns eight columns" width="300" height="400" src="https://www.youtube.com/embed/F_s5G7HX-Hs" frameborder="0" allowfullscreen></iframe>
    </article>
  </section>

</main>
